# 100 is somewhat arbitrary, but should be sufficient
export PIPENV_MAX_DEPTH=100
# Give meaningful output to developers about setup.py failure
# see: https://docs.python.org/3.6/distutils/setupscript.html#debugging-the-setup-script
export DISTUTILS_DEBUG="anything except an empty string"
export FLASK_APP="$JCVM_ANALYSIS_HOME/jsec/viewer.py"
