# ignore Converted Applet files - might change in the future due to binary editing
# of CAP files, where versioning is important
*.cap

# ignore the external Java Card system dependencies/libraries
ext/
# also symlinks to ext/
ext

*.log

# ignore the papers
*.pdf
readings/

# Java compiled files
*.class

# media files
*.jpg
*.jpeg
*.JPG
*.JPEG
*.png
*.PNG

# general directory for stuff, that should not be tracked nor deleted
ignore/
