# ignore the external Java Card system dependencies/libraries
ext/
# also symlinks to ext/
ext

*.log

# ignore the papers
*.pdf
readings/

# Java compiled files
*.class

# media files
*.jpg
*.jpeg
*.JPG
*.JPEG
*.png
*.PNG

# general directory for stuff, that should not be tracked nor deleted
ignore/
*.ignore

# ignore compiled Python files
*.pyc
*.pyo
*.egg-info/
pkgs/jcvmutils/dist
pkgs/jcvmutils/build
.coverage
# ignore Python build files
build/
dist/

# ignore intermediate TeX files
*.aux
*.out

*._tags

*.jar
*.cap
*.exp
*.jca

# ignore the results of the analysis
analysis-results.html

# ignore per user configuration files
aids.ini

.mypy_cache

*@neomake*
.envrc

# Sphinx documentation
docs/_build/

*.zip

analysis-reports/

.ipynb_checkpoints/
.virt/
