[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"
pytest = "*"

[packages]
pymongo = "*"
python-pkcs11 = "*"
dominate = "*"
beautifulsoup4 = "*"
invoke = "*"
pyinquirer = "*"
pyscard = "*"

[requires]
python_version = "3.6"
