[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pudb = "*"
pytest = "*"
pytest-cov = "*"
mypy = "*"
ipython = "*"
pytest-mock = "*"
mock = "*"
pydoc-markdown = "*"
sphinx = "*"
pymongo-inmemory = "*"
javusdev = {editable = true, path = "./pkgs/javusdev"}
javus = {editable = true, path = "."}

[packages]
pymongo = "*"
python-pkcs11 = "*"
dominate = "*"
beautifulsoup4 = "*"
invoke = "*"
flask = "*"
flask-wtf = "*"
pytz = "*"
pyscard = "*"
deepdiff = "*"
pyradamsa = "*"

[requires]
python_version = "3.6"
