alabaster
asn1crypto
attrs
Babel
backcall
beautifulsoup4
cached-property
certifi
chardet
click
coverage
decorator
deepdiff
docspec
docspec-python
docutils
dominate
Flask
Flask-WTF
idna
imagesize
importlib-metadata
invoke
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
MarkupSafe
mock
more-itertools
mypy
mypy-extensions
nr.collections
nr.databind.core
nr.databind.json
nr.fs
nr.interface
nr.metaclass
nr.parsing.date
nr.pylang.utils
nr.stream
nr.sumtype
nr.utils.re
ordered-set
packaging
parso
pathtools
pexpect
pickleshare
pluggy
prompt-toolkit
ptyprocess
pudb
py
pydoc-markdown
Pygments
# downgrade due to old version of older MongoDB
pymongo=3.13.0
pymongo-inmemory
pyparsing
pyradamsa
pyscard
pytest
pytest-cov
pytest-mock
python-pkcs11
pytz
PyYAML
requests
six
snowballstemmer
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
toml
traitlets
typed-ast
typing-extensions
urllib3
urwid
watchdog
wcwidth
Werkzeug
WTForms
zipp
jupyter
jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
ipykernel
jupyterlab_code_formatter
black
isort
