@font-face{
    font-family: titillium;
    src: url('/static/fonts/TitilliumWeb-Regular.ttf');
}

@font-face{
    font-family: titillium;
    src: url('/static/fonts/TitilliumWeb-Bold.ttf');
    font-weight: bold;
}
* {
    font-family: titillium;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

caption {
  display: table-caption;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

h1 {
    color: red;
}

.tick {
    color: rgb(0, 128, 0);
}

.cross {
  color: transparent;
  text-shadow: 0 0 0 rgb(255, 0, 0);
}

.circle {
    color: transparent;
    text-shadow: 0 0 0 rgb(0, 0, 255);
}
