<table>
  <caption>{{ attack_name }}</caption>
  <thead>
    <tr>
      <th>Attack Stages</th>
      {% for stage in stages %}
        {% for name in stage.keys() %}
          <th>{{ name }}</th>
        {% endfor %}
      {% endfor %}
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>Results</td>
        {% for stage in stages %}
          {% with stage_index = loop.index0 %}
            {% for value in stage.values() %}
              <!-- FIXME change mouse cursor to pointer on hover -->
              <td onclick="getStageData('{{ analysis_id }}', '{{attack_name}}', '{{stage_index}}', '{{stage_name}}')">
                {% if value['skipped'] %}
                  {{ marks.circle | safe }}
                {% else %}
                  {% if value['success'] %}
                    {{ marks.tick | safe }}
                  {% else %}
                    {{ marks.cross | safe }}
                  {% endif %}
                {% endif %}
              </td>
            {% endfor %}
          {% endwith %}
        {% endfor %}
      </tr>
  </tbody>
</table>
