{# {% extends "base.j2" %} #}
<div class="table-responsive">
    <table class="table">
        <caption>{{ attack_name }} (SDK Version: {{ attack_data["sdk_version"] }}) </caption>
      <thead>
        <tr>
          <th>Attack Stages</th>
          {% for stage in stages %}
            <th>{{ stage['name'] }}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>Results</td>
            {% for stage in stages %}
              {% with stage_index = loop.index0 %}
                  <!-- FIXME change mouse cursor to pointer on hover -->
                  <td onclick="getStageData(event, '{{ analysis_id }}', '{{attack_name}}', '{{stage_index}}', '{{stage["name"]}}')"
                      class="stage">
                    {% if stage['skipped'] %}
                      {{ marks.skip | safe }}
                    {% else %}
                      {% if stage['success'] %}
                        {{ marks.tick | safe }}
                      {% else %}
                        {{ marks.cross | safe }}
                      {% endif %}
                    {% endif %}
                  </td>
              {% endwith %}
            {% endfor %}
          </tr>
      </tbody>
    </table>
</div>
