<table>
  <tbody>
    <caption>{{ attack_name }}</caption>
      <tr>
        <th>Attack Stages</th>
        {% for stage in stages %}
          {% for name in stage.keys() %}
            <th>{{ name }}</th>
          {% endfor %}
        {% endfor %}
      </tr>
      <tr>
        <td>Results</td>
        {% for stage in stages %}
          {% for value in stage.values() %}
            <td>
              {% if value['skipped'] %}
                {{ marks.circle | safe }}
              {% else %}
                {% if value['success'] %}
                  {{ marks.tick | safe }}
                {% else %}
                  {{ marks.cross | safe }}
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        {% endfor %}
      </tr>
  </tbody>
</table>
