<table>
  <tbody>
    <caption>{{ attack_name }}</caption>
      <tr>
        <th>Attack Stages</th>
        {% for stage in stages %}
          {% for name in stage.keys() %}
            <th>{{ name }}</th>
          {% endfor %}
        {% endfor %}
      </tr>
      <tr>
        <td>Results</td>
        {% for stage in stages %}
          {% for value in stage.values() %}
            <td>
              {% if value['skipped'] %}
                -
              {% else %}
                {{ value['success'] }}
                {{ value['args'] }}
              <!-- <br>{{ value['stdout'] }}<br>{{ value['stderr'] }} -->
              {% endif %}
            </td>
          {% endfor %}
        {% endfor %}
      </tr>
  </tbody>
</table>
