<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="text-align: right;">
            Jan Kvapil::408788@mail.muni.cz
        </div>
    </div>
</div>
