<title>JavaCard Security Analysis</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- TODO don't use our styles and prefer boostrap -->
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- local JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- external JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
