<div class="table-responsive">
    <table class="table stage-details">
        <!-- TODO add mark to the caption as well? -->
        <caption>stage {{ stage["name"] }} of {{ attack_name }} </caption>
      <thead>
        <tr>
          <th>name</th>
          <th>value</th>
        </tr>
      </thead>
      <tbody>
        {% for key, value in stage.items() %}
          <tr>
              <td>
                  {% if key == 'args' %}
                      command
                  {% else %}
                      {{ key }}
                  {% endif %}
              </td>
            <td>
                {% if key == 'args' %}
                    {{ value | join(' ') }}
                {% elif key == 'start-time' or key == 'end-time' %}
                    {{ value|as_datetime }}
                {% elif key == 'duration' %}
                    {{ value|format_duration }}
                {% elif key in ["stdout", "stderr"] %}
                    <div class="wrap-row">
                        <span>{{ value }}</span>
                    </div>
                {% elif key == "communication" %}
                    {% with communication = value %}
                        {% include "communication.html" %}
                    {% endwith %}
                {% else %}
                    {{ value }}
                {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
