<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>JavaCard Vulnerability Scanner</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                This rather minimalistic website will help you investigate the results of the analysis of your card(s).
                You can pick which analysis run you'd like to review. By clicking on the individual stages of the attack
                a new table will appear with the additional details about the stage.
            </p>
        </div>
    </div>
    <div class="row">
        <form action="" method="post" novalidate>
        {{ form.run.csrf_token }}
            <div class="col-lg-3">
                <td>{{ form.run.analysis.label }}</td>
                <td>{{ form.run.analysis(class="form-control selectpicker") }}</td>
                <td>{{ form.run.submit(class="btn btn-primary") }}</td>
            </div>
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
            </div>
        </form>
    </div>
    {# <div class="row"> #}
    {#     <div class="col-lg-5"> #}
    {#         {% include "analysis-details.j2" %} #}
    {#     </div> #}
    {#     <div class="col-lg-7"> #}
    {#         {% with card = analysis['card'] %} #}
    {#             {% include "card.j2" %} #}
    {#         {% endwith %} #}
    {#     </div> #}
    {# </div> #}
    {# <div class="row"> #}
    {#     <div class="col-lg-12">TODO ADD MESSAGE HERE</div> #}
    {# </div> #}
    {# <div class="row"> #}
    {#     <div class="col-lg-5"> #}
    {#         {% include "legend.j2" %} #}
    {#     </div> #}
    {# </div> #}
    {# {% block data %} #}
    {#     <div class="row"> #}
    {#         <div class="col-lg-6"> #}
    {#             {% set attacks = analysis["analysis-results"] %} #}
    {#             {% for attack_name, attack_data in attacks.items() %} #}
    {#               {% set stages = attack_data["results"] %} #}
    {#               {% with analysis_id = analysis['_id'] %} #}
    {#                 {% include "attack.html" %} #}
    {#               {% endwith %} #}
    {#             {% endfor %} #}
    {#         </div> #}
    {#         <!-- The following div is populated with AJAX calls --> #}
    {#         <div class="col-lg-6" id="stage-details"></div> #}
    {#     </div> #}
    {# {% endblock data %} #}
</div>
