<table class="table">
    <caption>Card ATR</caption>
    <tbody>
        <tr>
            <td>{{ form.atr.label }}</td>
            <td>{{ form.atr(class="form-control selectpicker") }}</td>
            <td>{{ form.submit(class="btn btn-primary") }}</td>
        <tr>
    </tbody>
</table>
