<!doctype html>
<html>
    <head>
        {% block head %}
            {% include "head.j2" %}
        {% endblock head %}
    </head>
    <body>
        {% block body %}
            {% include "body.j2" %}
        {% endblock body %}
    </body>
    <footer>
    {% block footer %}
        {% include "footer.j2" %}
    {% endblock footer %}
    </footer>
</html>
